<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Anark.Core.Client.CoreSOAClient.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Anark.Core.Client.CoreSOAClient.Settings1>
            <setting name="ServerName" serializeAs="String">
                <value><CHANGE_ME></value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="X509IssuerName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseX509ClientCertificate" serializeAs="String">
                <value>False</value>
            </setting>
        </Anark.Core.Client.CoreSOAClient.Settings1>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="4.5.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>